#/ Config and Htaccess Files
/upload/.htaccess
#/upload/config.php
#/upload/admin/config.php

###/storage/cache/*
/storage/logs/*
/storage/session/*
/storage/vendor/*
/storage/download/*
/storage/upload/*


#/ Image Cache Files
###/upload/image/cache/*
!/upload/image/cache/index.html

#/ Backup Files
/upload/system/storage/backup/*
!/upload/system/storage/backup/index.html

#/ System Cache Files
###/upload/system/storage/cache/*
!/upload/system/storage/cache/index.html

#/ Download Files
/upload/system/storage/download/*
!/upload/system/storage/download/index.html

#/ Log Files
/upload/system/storage/logs/*
!/upload/system/storage/logs/index.html

#/ Marketplace Files
#/ upload/system/storage/marketplace/*
#/ !upload/system/storage/marketplace/index.html

#/ Session Files
/upload/system/storage/session/*
!/upload/system/storage/session/index.html

#/ Upload Files
/upload/system/storage/upload/*
!/upload/system/storage/upload/index.html

#/ If you want to ignore install file use following lines [on development mode]
#/ upload/install/*

/upload/vqmod/logs/*
/upload/vqmod/checked.cache
/upload/vqmod/mods.cache

#/ IDE Project filescd  xampp

/.idea
/upload/.idea

